/* index.css */

body {
  font-family: Arial, sans-serif;
  background-color: yellow;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 42px;
  margin-bottom: 40px;
  text-align: center;
  color: red;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.add-post {
  margin-top: 40px;
  text-align: center;
}

.add-post a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0077cc;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}

.add-post a:hover {
  background-color: #005ea6;
}


 h6 {
  font-weight: lighter;
  padding: 250px;

}